.container__habititem {
  background-color: rgb(225, 225, 225);
  width: 80vw;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.done {
  background-color: rgb(105, 105, 105);
}

.overlay__habitdone {
  background: rgb(107, 107, 107);
  opacity: 0.6;
}
