.bg {
  background-color: #171717;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 4rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.01rem solid #fefefe;
  border-radius: 1rem 1rem 0 0;
}
